/* General Styles */
body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    height: 100vh; /* 确保整个页面占满视口高度 */
}

/* Header Styling */
header {
    background-color: #333;
    padding: 10px 0;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    font-weight: bold;
}

header nav ul li a:hover {
    text-decoration: underline;
}

/* Sidebar and Content Layout */
.content-layout {
    display: flex;
    align-items: stretch; /* 确保两侧高度一致 */
    height: 100vh; /* 使用 100vh 让高度覆盖整个视口 */
}

.sidebar {
    width: 200px;
    background-color: #333;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    gap: 5px; /* 调整按钮之间的间距 */
    height: 100%; /* 高度与右侧区域相同 */
}

.sidebar button {
    width: 100%;
    padding: 8px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

.sidebar button:hover {
    background-color: #0056b3;
}

.main-content-area {
    flex-grow: 1;
    margin-left: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    height: 100%; /* 确保内容区域占满整个高度 */
}

.new-button {
    display: block;
    margin: 10px 0;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
    font-size: 1em;
}

.new-button:hover {
    background-color: #0056b3;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
    position: relative;
    width: 100%;
    bottom: 0;
}
